.gallery-siz-pos { 
    width: 760px;
    margin: 0 auto;
    padding: 15px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;        
}
.gallery-apearence { 
    overflow: hidden;
    background: #212121;
    border-radius: 15px;
    box-shadow: 0 0 5px #212121;
 }
 .gallery__img-wrapper { 
    position: relative;
    width: 760px;
    height: 440px;
    list-style: none;
    overflow: hidden;
  }
.gallery__item { position: absolute; top: 0; left: 0; }
.gallery__img-trigger {  
    position: absolute;
    top: 10%;
    left:10%;
    opacity: 0;
}
.gallery__img { position: relative; max-width: 760px; }

.gallery__thumb { 
    position: relative; 
    width: 760px;
    
    list-style: none;
    
    overflow: auto;
    
}
.gallery__item-thumb { display: inline-block; margin-right: 5px; }
.gallery__thumbnail { width: 56px; height: 56px; cursor: pointer; }
.gallery__thumbnail-img { max-width: 56px; max-height: 56px; border: 1px solid #FAFAFA; }

.gallery__img-trigger ~ .gallery__img {
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.gallery__img-trigger:checked ~ .gallery__img {
    opacity: 1;
    z-index: 5;
}

@media only screen and (max-width: 1279px) {  
    .gallery-siz-pos { width: 480px; }
    .gallery__img-wrapper { width: 480px; height: 280px; }
    .gallery__img { max-width: 480px; }
    .gallery__thumb { width: 480px; }
}
@media only screen and (max-width: 767px) {  
    .gallery-siz-pos { width: 320px; }
    .gallery__img-wrapper { width: 320px; height: 200px; }
    .gallery__img { max-width: 320px; }
    .gallery__thumb { width: 320px; }
}