.head_pos { 
    position: fixed; 
    z-index: 200;
    overflow: auto;
}
.head_siz {
    width: 20%; 
    height: 100%; 
}

.hambur-design {
    display: none;

    position: absolute;
    top: -10px;
    left: 0;

    font-size: 2.0rem;
    margin: 15px;
    z-index: 300;

    cursor: pointer;
}
.hambur-design__bars { display: inline-block; color: #212121; color: var(--clr-1); }
.hambur-design__times { display: inline-block; color: #fafafa; color: var(--clr-2); }
.head__hambur-checkbox { 
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    /*display: none;   */ 
    margin: 15px;
    z-index: 200;
}

.nav_pos-siz { 
    float: left; 
    height: 100%;
    width: 100%;
    padding: 50px 0;
    padding: var(--space-1) 0;
    overflow: hidden;
    box-sizing: border-box;
}
.nav_clr {
    background: #212121;
    background: var(--clr-1);
    color: #fafafa;
    color: var(--clr-2);  
}

.logo_txt { 
    text-align: center;   
}
.logo__img_siz { width: 150px; }

.menu_margin {
    margin: 50px 0;
    margin: var(--space-2) 0;
}
.menu__item_pos { 
    display: block;
    margin: 30px 20px;
}
.menu__link_txt { font-size: 1.2rem; text-transform: uppercase; }
.menu__link_clr:hover {
    color: #bdbdbd;
    color: var(--clr-3);
} 
.menu__item .menu__link { pointer-events: none; color: #bdbdbd; color: var(--clr-3); }
.menu__item:first-child .menu__link { pointer-events: visible; color: #fafafa; color: var(--clr-2); }

.socl-acct_pos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    margin-left: 10%;
}
.socl-acct_siz { width: 80%; }
.socl-acct__link_pos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.socl-acct__link_design {
    width: 15px;
    height: 15px; 
    padding: 10px; 

    font-size: 1.0rem;
    border: 1px solid #fafafa; 
    border: 1px solid var(--clr-2); 
}
.socl-acct__link_design:hover { background: #fafafa; background: var(--clr-2); color: #fafafa; color: var(--clr-1); -webkit-transition: all 0.75s; transition: all 0.75s; }

.copyrights_pos { margin-top: 10px; margin-top: var(--space-3); text-align: center; }
.copyrights_txt { font-size: 0.75rem; }

@media only screen and (max-width:1279px){ 
    .head_siz { width: 25%; }

    .socl-acct_siz { width: 100%; } 
    .socl-acct_pos { margin-left: 0; }
    .socl-acct__link_design { font-size: 1.0rem; padding: 8px; }
}
@media only screen and (max-width:899px){
    .head_siz { width: 350px; }
    .nav_pos-siz { position: absolute; left: -400px; width: 350px; height: 100%; }

    .hambur-design { display: inline-block; }
    .head__hambur-checkbox:checked ~ nav { left: 0; }
    .hambur-design__times { display: none; }
    .head__hambur-checkbox:checked ~ .hambur-design .hambur-design__times { display: inline-block; }
    .head__hambur-checkbox:checked ~ .hambur-design .hambur-design__bars { display: none; }
}
@media only screen and (max-width:767px){ 
    .head_siz { width: 320px; }
    .nav_pos-siz { left: -325px; width: 320px; }
}
@media only screen and (max-width:479px){ 
}