.sub-group { width: 45%; width: calc((100% / 2) - 50px); margin: 25px; margin: var(--space-2); }
.latest-works__items { display: -webkit-box; display: -ms-flexbox; display: flex;  
    -webkit-box-pack: start;  
        -ms-flex-pack: start;  
            justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.other-works__items { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-line-pack: center; 
        align-content: center; 
    -ms-flex-pack: distribute; 
        justify-content: space-around; 
}
.sub-group__img_bg-property { 
    background-repeat: no-repeat;
    background-size: cover;
 }
.sub-group__img_siz { height: 330px; width: 100%; }

@media only screen and (max-width:1279px){
    .sub-group { width: 80%; margin-left: 10%; }
    .other-works__items, .latest-works__items { display: block; }
}
@media only screen and (max-width:899px){
}
@media only screen and (max-width:767px){ 
    .sub-group { width: 100%; margin-left: 0; }
}
@media only screen and (max-width:479px){ 

}