/****************** header *****************/
header { height: 100px; position: relative; }
#logo {
	background: url("Contents/Logo_small.png");
	background-size: cover;
	width: 267px;
	height: 77px;
	
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	
	margin-left: 1%;
}

/****************** web dev ******************/
#webdev { width: 100%; position: relative; top: 6px; display: inline-block; }

#website1tile { 
	width: 48.5%; 
	background-image: url("Contents/website1tile.jpg");
	background-size: cover;
	margin-left: 1%; 
	
	float: left;
}
/* to propotionally resize website1 element */
#website1tile .container { width: 100%;	padding-top: 100%;	position: relative; }
#website1tile .container2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

/* to propotionally resize website2 and websit3 */
#website2tile, #website3tile { 
	width: 48.5%;  
	margin-right: 1%; 
	
	float: right;
}
#website2tile .container, #website3tile .container { width: 100%; padding-top: 49%; position: relative; }
#website2tile .container2, #website3tile .container2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

#website2tile { background-image: url("Contents/website2tile.jpg"); background-size: cover; margin-bottom: 0.5%; }
#website3tile { background: url("Contents/website3tile.jpg"); }

/****************** otherWorks ******************/
#otherWorks { width: 50%; float: left; position: relative; top: 12px; }
/* propotionally resize work1tile and work2tile */
#work1tile, #work2tile { width: 47%; margin-bottom: 1%; } /* 47% of otherWorks element */
#work1tile .container, #work2tile .container { width: 100%; padding-top: 100%; position: relative; }
#work1tile .container2, #work2tile .container2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  }

#work1tile { 
	background-image: url("Contents/the MBT.jpg"); 
	background-size: cover; 
	margin-left: 2%; 
	
	float: left; 
}

#work2tile { 
	background-image: url("Contents/character model.jpg"); 
	background-size: cover; 
	margin-right: 2%; 
	
	float: right;
}

#work3tile { 
	width: 96%;  /* 96% of otherWorks element */
	background-image: url("Contents/architectural model.jpg"); 
	background-size: cover; 
	
	margin-left: 2%;
	clear: both;
}
/* propotionally resize work3tile */
#work3tile .container { width: 100%; padding-top: 50%; position: relative; }
#work3tile .container2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }


/****************** aboutContact ******************/
#aboutContact { width: 50%; float: right; position: relative; top: 12px; }

/* propotionally resize abouttile */
#abouttile { width: 47%; } /* 47% of aboutContact element */
#abouttile .container { width: 100%; padding-top: 100%; position: relative; }
#abouttile .container2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  }

#abouttile {
	background-image: url("Contents/about icon.png");
	background-size: cover;
	margin-left: 1%;
	float: left;
}

/* propotionally resize twittertile */
#twittertile, #linkedintile, #emailtile { width: 23.50%; float: right; } 
#twittertile .container, #linkedintile .container, #emailtile .container { 
	width: 100%; 
	padding-top: 97%; 
	position: relative; 
}
#twittertile .container2, #linkedintile .container2, #emailtile .container2 { 
	position: absolute; 
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;  
}

#twittertile {
	background-image: url("Contents/twitter icon2.png");
	background-size: cover;
	margin-right: 1%;
}

#linkedintile {
	background-image: url("Contents/linkedin icon2.png");
	background-size: cover;
	margin-right: 1%;
}

#emailtile {
	background-image: url("Contents/email icon2.png");
	background-size: cover;
	margin-right: 26.25%;
	margin-top: 1%;
}



 /* live tile details */
.tileDetail { 
	position: absolute; 
	top: 1px;

	
	width: 100%;
	text-align: center;
	
	color: white; 
}
#website1tile .tileDetail, #website2tile .tileDetail, #website3tile .tileDetail, #work3tile .tileDetail { 
	font-size: 2rem; 
}
#work1tile .tileDetail, #work2tile .tileDetail, #abouttile .tileDetail { font-size: 1.25rem; }

/* tile name */
.tileName { 
	font-size: 1.25rem; 
	color: white; 
	
	position: absolute; 
	bottom: 1px; 
	left: 4px; 
}

h3 { margin-left: 1rem; }

/* effect on mouse over */
.tile { border: 1.5px solid white; }
.tile:hover { border: 1.5px solid rgb(255, 50, 50); }

#lastElement { clear: both; height: 24px; }
