@media (max-width:767px) {
	header { height: 65px; }

	#logo {
		width: 167px;
		height: 48px;
	}
	

}

@media (max-width:600px) {
	#website1tile { margin-bottom: 0.5%; }
	
	#otherWorks { width: 100%; float: none; }
	
	#aboutContact { width: 100%; float: none; }
	
	#website2tile .tileDetail, #website3tile .tileDetail { 
		font-size: 1.25rem; 
	}
	#website1tile .tileDetail, #work1tile .tileDetail, #work2tile .tileDetail, #abouttile .tileDetail, #work3tile .tileDetail { 
		font-size: 2rem; 
	}
	

}

@media (max-width:480px) {
	#website1tile { width: 97%; }
	#website1tile .container { width: 100%; padding-top: 49%; }
	
	#website2tile, #website3tile { width: 48%; }
	#website2tile .container, #website3tile .container { width: 100%; padding-top: 100%; }
	
	#website1tile .tileDetail, #work3tile .tileDetail { 
		font-size: 2rem; 
	}
	#website2tile .tileDetail, #website3tile .tileDetail, #work1tile .tileDetail, #work2tile .tileDetail, #abouttile .tileDetail { 
		font-size: 1.25rem; 
	}
}