<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comparison table with infinite column</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Comparison table with infinite column. Created using javascript">
        <meta name="keywords" content="JavaScript, javascript plugin, comparison table, html5 table, javascript table, table with infinite column">
        
        @@include("../../resources/_linked-files-works.html")

        <link href="/css/compariosn-table-infinite-column.css" rel="stylesheet">
        
        @@include("../../resources/_analytics-code.html")
        
    </head>

    <body class="compariosn-table-infinite-column">

        @@include("../../resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">Javascript comparison table</h1>
                    <h3 class="page-title__sub-title">Comparison table with infinite column</h3>
                </div>

                <div class="group iframe-block">
                    <iframe class="iframe-block--item" src="http://arumugam.info/Javascript-comparison-table-with-infinite-column/"></iframe>
                    <a href="http://arumugam.info/Javascript-comparison-table-with-infinite-column/" class="sub-group__content btn_danger" target="_blank">SEE FULL DEMO</a>
                </div>

                <div class="sub-group">
                    <h3 class="sub-group__title">Project Description:</h3>
                    <p class="sub-group__content">A product comparison table with ability to add infinite number of column. Create using Javascript, no special plusgins required.</p>
                </div>

                <div class="sub-group">
                    <h3 class="sub-group__title">More Details:</h3>
                    <ul class="sub-group__content">
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TYPE:</span> Website Component
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TECHNOLOGY:</span> HTML, CSS, Javascript.
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> DATE:</span> <time datetime="2017-07">July 2017</time>
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> SOURCE:</span> <a class="link_danger" href="https://github.com/prakashom2new/Javascript-comparison-table-with-infinite-column" target="_blank">GET IT FROM GITHUB</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </body>
</html>