<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSS image gallery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("../../resources/_linked-files-works.html")

        <link href="/css/css-image-gallery.css" rel="stylesheet">
        
        @@include("../../resources/_analytics-code.html")
        
    </head>

    <body class="css-img-gallery-page">

        @@include("../../resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">CSS image gallery</h1>
                    <h3 class="page-title__sub-title">An image gallery created only with CSS</h3>
                </div>

                <div class="group">
                    <div class="gallery gallery-siz-pos gallery-apearence">
                        <ul class="gallery__img-wrapper">
                            <li class="gallery__item">
                                <input id="Img-1" class="gallery__img-trigger" type="radio" name="slide" value="" checked>
                                <img class="gallery__img" src="/img/css_image_gallery/img-1.jpg" alt="space">
                            </li>
                            <li class="gallery__item">
                                <input id="Img-2" class="gallery__img-trigger" type="radio" name="slide" value="">
                                <img class="gallery__img" src="/img/css_image_gallery/img-2.jpg" alt="space">
                            </li>
                            <li class="gallery__item">
                                <input id="Img-3" class="gallery__img-trigger" type="radio" name="slide" value="">
                                <img class="gallery__img" src="/img/css_image_gallery/img-3.jpg" alt="space">
                            </li>
                            <li class="gallery__item">
                                <input id="Img-4" class="gallery__img-trigger" type="radio" name="slide" value="">
                                <img class="gallery__img" src="/img/css_image_gallery/img-4.jpg" alt="space">
                            </li>
                        </ul>

                        <ul class="gallery__thumb">
                            <li  class="gallery__item-thumb">
                                <label class="gallery__thumbnail" for="Img-1">
                                    <img class="gallery__thumbnail-img" src="/img/css_image_gallery/img-1.jpg">
                                </label>
                            </li>
                            <li  class="gallery__item-thumb">
                                <label class="gallery__thumbnail" for="Img-2">
                                    <img class="gallery__thumbnail-img" src="/img/css_image_gallery/img-2.jpg">
                                </label>
                            </li>
                            <li  class="gallery__item-thumb">
                                <label class="gallery__thumbnail" for="Img-3">
                                    <img class="gallery__thumbnail-img" src="/img/css_image_gallery/img-3.jpg">
                                </label>
                            </li>
                            <li  class="gallery__item-thumb"> 
                                <label class="gallery__thumbnail" for="Img-4">
                                    <img class="gallery__thumbnail-img" src="/img/css_image_gallery/img-4.jpg">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sub-group">
                    <h3 class="sub-group__title">Project Description:</h3>
                    <p class="sub-group__content">An image gallery created completely in CSS. No javascript or jQuery used.</p>
                </div>

                <div class="sub-group">
                    <h3 class="sub-group__title">More Details:</h3>
                    <ul class="sub-group__content">
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TYPE:</span> Website Component
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TECHNOLOGY:</span> HTML, CSS.
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> DATE:</span> <time datetime="2017-02">February 2017</time>
                        </li>
                        <li class="sub-group__content-list">
                            <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> SOURCE:</span> <a class="link_danger" href="https://github.com/prakashom2new/css-image-gallery" target="_blank">GET IT FROM GITHUB</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>
