<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The MBT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("../../resources/_linked-files-works.html")
        
        @@include("../../resources/_analytics-code.html")
        
    </head>

    <body class="the-mbt-page">
        
        @@include("../../resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">The MBT</h1>
                    <h3 class="page-title__sub-title">Action Shooter PC game</h3>
                </div>

                <div class="group work-dtails">
                    <img class="work-details__hero-img" src="/img/the_mbt/the-mbt.png" alt="project image">

                    <div class="sub-group">
                        <h3 class="sub-group__title">Project Description:</h3>
                        <p class="sub-group__content">"The MBT" is an Action Shooter PC game created by VIT University (Vellore) Multimedia & Animation students for Final year Project.

                        The game happens in a fictional world where two powerful inter governmental military alliance (NSTO and CATO) competing for the world dominance. The military has been mostly privatized. Militias backed by the NSTO occupied a town of a CATO country. A private defense company called Defense corp. was hired by the CATO to recapture the town.</p>
                    </div>
                    
                    <div class="sub-group">
                        <h3 class="sub-group__title">My Role:</h3>
                        <p class="sub-group__content">I led the team of 4 peoples. My role in the project includes Lead Designer, Programmer and UI developer.</p>
                    </div>

                    <div class="sub-group">
                        <h3 class="sub-group__title">More Details:</h3>
                        <ul class="sub-group__content">
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TYPE:</span> Video Game 
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> TECHNOLOGY:</span> Unity3D, Autodesk Maya, Inkscape.
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> DATE:</span> <time datetime="2016-03">March 2016</time>
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> DEMO:</span> <a class="link_danger" href="https://prakashom2new.itch.io/the-mbt" target="_blank">GET IT</a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
