<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About | Omprakash Arumugam</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("../resources/_linked-files.html")
        
        <link href="/css/about.css" rel="stylesheet">
        
        @@include("../resources/_analytics-code.html")
        
    </head>

    <body class="about-me">

        @@include("../resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">About Me</h1>
                    <h3 class="page-title__sub-title">A brief info about me</h3>
                </div>

                <div class="group">
                    <div class="sub-group">
                        <h3 class="sub-group__title">Short Intro:</h3>
                        <p class="sub-group__content">Hi, this is Omprakash Arumugam. I am a <span class="highlight-txt">Front End Developer</span> based in Chennai, India. I have a passion for programming, creating everythimg from scratch and so on. I work for eWallhost web services pvt. ltd. (an Chennai based web hosting startup). I am a strong believer in Science and Technology which can provide a solution to most of the problems facing by the humanity.</p>
                    </div>
                    <div class="sub-group">
                        <h3 class="sub-group__title">What I know:</h3>
                        <ul class="sub-group__content">
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> HTML & CSS</span>
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> jQuery</span>
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> Javasccript</span>
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> Adobe Photoshop</span>
                            </li>
                            <li class="sub-group__content-list">
                                <span class="sub-group__content-list-name"><i class="fa fa-check" aria-hidden="true"></i> And a little bit of everything</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-group">
                        <h3 class="sub-group__title">What I like:</h3>
                        <p class="sub-group__content">Science and technology, history, mass psychology, economics.</p>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
