<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact | Omprakash Arumugam</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("../resources/_linked-files.html")
        
        <link href="/css/contact-me.css" rel="stylesheet">
        
        @@include("../resources/_analytics-code.html")
        
    </head>

    <body class="contact-me">

        @@include("../resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">Contact Me</h1>
                    <h3 class="page-title__sub-title">I would love to hear from you</h3>
                </div>

                <div class="group contact-ways">
                    <h3 class="contact-ways__item"><i class="fa fa-envelope" aria-hidden="true"></i> &nbspNothing can beat old school email - <a href="mailto:hello@arumugam.info" class="link_danger" target="_blank">hello@arumugam.info</a></h3>
                    <h3 class="contact-ways__item"><i class="fa fa-twitter" aria-hidden="true"></i> &nbspIf 140 characters is what all you got, tweet me - <a href="https://twitter.com/intent/tweet?screen_name=prakashom2new" class="link_danger" data-text="Hi" data-show-count="false" target="_blank">@prakashom2new</a></a></h3>
                    <h3 class="contact-ways__item"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp Facebook is not just for selfies - <a href="https://www.facebook.com/prakashom2new" class="link_danger" target="_blank">over here</a></h3>
                    <h3 class="contact-ways__item"><i class="fa fa-linkedin" aria-hidden="true"></i> &nbspWhat else can be a better place than network for professionals - <a href="https://www.linkedin.com/in/prakashom2new/" class="link_danger" target="_blank">connect</a></h3>
                </div>
            </div>
        </section>

    </body>
</html>
