<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Omprakash Arumugam</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("/resources/_linked-files.html")
        
        <link href="/css/homepage.css" rel="stylesheet">
        
        @@include("/resources/_analytics-code.html")
        
    </head>

    <body class="homepage">

        @@include("/resources/_header.html")

        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="short-intro">
                    <img src="/img/homepage_img/profile-pic-1.jpg" class="short-intro__prof-img">
                    <div class="page-title">
                        <h1 class="page-title__sub-title">
                            Code Warrior | Web Designer
                        </h1>
                    </div>
                    <p class="short-intro__detail"><span class="highlight-txt">Hi, this is Omprakash Arumugam.</span> I am a Front End Developer based in Chennai, India. I have a passion for programming, creating everythimg from scratch and so on. If you are a fellow Code Warrior fell free to ping.</p>
                </div>

                <div class="group latest-works">
                    <h2 class="group__title latest-works__title sec-title">Latest works:</h2>
                    <div class="latest-works__items">
                        <div class="sub-group sub-group-1">
                            <h3 class="sub-group__title">CSS image gallery</h3>
                            <p class="sub-group__content sub-group__explain-txt">An image gallery created completely in CSS. No javascript or jQuery used.</p>
                            <div class="sub-group__content latest-works__call-to-action">
                                <a class="btn_cool" href="works_pages/css-image-gallery.html" type="button">SEE MORE</a>
                            </div>
                        </div>
                        <div class="sub-group sub-group-2">
                           
                        </div>
                    </div>
                </div>

                <div class="group other-works">
                    <h2 class="group__title other-works__title">Other works:</h2>
                        
                    <div class="other-works__items">
                        <div class="sub-group sub-group-1">
                            <h3 class="sub-group__title">The MBT</h3>
                            <a href="https://prakashom2new.itch.io/the-mbt" class="sub-group__link">
                                <div class="sub-group__img sub-group__img_siz sub-group__img_bg-property" style="background-image: url(/img/homepage_img/the-mbt.jpg);"></div>
                            </a>
                            <p class="sub-group__explain-txt">"The MBT" is an Action Shooter PC game i have created for Final year Project while stduying at VIT University - Vellore.</p>
                        </div>

                        <div class="sub-group sub-group-2">
                            <h3 class="sub-group__title">3D Model</h3>
                            <a href="https://vimeo.com/132791600" class="sub-group__link">
                                <div class="sub-group__img sub-group__img_siz sub-group__img_bg-property" style="background-image: url(/img/homepage_img/3d-model.jpg);"></div>
                            </a>
                            <p class="sub-group__explain-txt">The 3D model is created using applications like Autodesk Maya and Adobe Photoshop.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
