<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Omprakash Arumugam - Works</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @@include("../resources/_linked-files.html")
        
        <link href="/css/works.css" rel="stylesheet">
        
        @@include("../resources/_analytics-code.html")
        
    </head>
    <body class="works">

        @@include("../resources/_header.html")
        <section class="main-content main-content_pos-siz">
            <div class="main-content__wrapper">
                <div class="page-title">
                    <h1 class="page-title__main-title">My Works</h1>
                    <h3 class="page-title__sub-title">Here are some of my works</h3>
                </div>
                <div class="group latest-works">
                    <h2 class="group__title latest-works__title sec-title">Web Development:</h2>
                    <div class="latest-works__items">
                        <div class="sub-group sub-group-1">
                            <h3 class="sub-group__title">CSS image gallery</h3>
                            <p class="sub-group__content sub-group__explain-txt">An image gallery created completely in CSS. No javascript or jQuery used.</p>
                            <div class="sub-group__content latest-works__call-to-action">
                                <a class="btn_danger" href="works_pages/css-image-gallery.html" type="button">SEE MORE</a>
                            </div>
                        </div>
                        <div class="sub-group sub-group-2">
                           <h3 class="sub-group__title">Auto hide navbar</h3>
                            <p class="sub-group__content sub-group__explain-txt">A Javascript plugin to create  transparent auto hide navbar.</p>
                            <div class="sub-group__content latest-works__call-to-action">
                                <a class="btn_danger" href="works_pages/auto-hide-navbar.html" type="button">SEE MORE</a>
                            </div>
                        </div>
                        <div class="sub-group sub-group-2">
                           <h3 class="sub-group__title">Comparison table with infinite column</h3>
                            <p class="sub-group__content sub-group__explain-txt">Comparison table with infinite column. </p>
                            <div class="sub-group__content latest-works__call-to-action">
                                <a class="btn_danger" href="works_pages/comparison-table-infinite-column.html" type="button">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group other-works">
                    <h2 class="group__title other-works__title">Other works:</h2>
                        
                    <div class="other-works__items">
                        <div class="sub-group sub-group-1">
                            <h3 class="sub-group__title">The MBT</h3>
                            
                            <div class="sub-group__content sub-group__img sub-group__img_siz sub-group__img_bg-property" style="background-image: url(/img/homepage_img/the-mbt.jpg);"></div>
                            <p class="sub-group__content sub-group__explain-txt">"The MBT" is an Action Shooter PC game i have created for Final year Project while stduying at VIT University - Vellore.</p>
                            <a href="/works_pages/the-mbt.html" class="sub-group__content btn_danger">SEE MORE</a>
                        </div>

                        <div class="sub-group sub-group-2">
                            <h3 class="sub-group__title">3D Model</h3>    
                            <div class="sub-group__content sub-group__img sub-group__img_siz sub-group__img_bg-property " style="background-image: url(/img/homepage_img/3d-model.jpg);"></div>
                            <p class="sub-group__content sub-group__explain-txt">The 3D model is created using applications like Autodesk Maya and Adobe Photoshop.</p>
                            <a href="https://vimeo.com/132791600" class="sub-group__content btn_danger" target="_blank">SEE MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>